h1{
    text-align: center;
    color:black;
    font-size: 80px;
}

.names{
    text-align: center;
    font-size: 70px;
    display: flex;
    justify-content: space-around;
}

.container{
    display: flex;
    gap: 200px;
}
body{
    background-color:lightcyan;
    /* background-image : url("https://img95.lovepik.com/photo/40101/9731.gif_wh860.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

#Rihan{
    height: 8cm;
    width: 6cm;
    border-radius: 180px;
}
#Anitha{
    height: 8cm;
    width: 6cm;
    border-radius: 180px;
}
#Athul{
    height: 8cm;
    width: 6cm;
    border-radius: 180px;
}

