/* indexpage */
header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 40px;
}

h1{
    text-align: center;
    color:black;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column h2,h3{
    display: flex;
    justify-content: center;
}

.names{
    text-align: center;
    font-size: 70px;
    display: flex;
    justify-content: space-around;
}
.rihan_bio, .anitha_bio, .athul_bio {
    height: 500px;
    width: 400px;
    padding: 60px 0;
    margin: 20px 0;
    /* border: 2px black solid; */
    font-size: 30px;
}
body{
    background-color:white;
    /* background-image : url("https://img95.lovepik.com/photo/40101/9731.gif_wh860.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.profile{
    height: 20rem;
    width: 20rem;
    border-radius: 200px;
    box-shadow: 0px 0px 30px rgb(178, 208, 236);
    
}

.profile img:hover{
    transform: scale(1.2);
}

/* Rihanpage */
.head-container{
    /* background-color:rgb(22, 117, 181); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.head-logo{
    width: 10px;
}
h5{
    text-align: center;
    color:black;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.head-title{
    margin-left: 30%;
    margin-right: auto; 
    text-align: center;
}
.container{
    display: flex;
    gap: 70px;
}

.column {
    height: 70vh;
    width: 50vw;
    padding: 20px;
    box-shadow: 0 0 15px black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}
.image-section{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.content-section{
    /* display: flex; */
    /* background-color: aqua; */
    flex : 1;
    padding-top: 10px;
    border-color: aquamarine;
}
.column .html{
    width: 32px;
    height: 22px;
    object-fit:contain;
}

.tools {
    display: flex;
    gap: 10px;
}
.column p{
    display: flex;
    justify-content: flex-start;
}

.icons {
    width: auto; 
    height: 42px;
    border: none; 
    cursor: pointer; 
    border-radius: 50%;
    display:flex;
    justify-content:center;
    margin: 20px;

    gap: 10px;
}
.container img {
    max-width: 100%;
    width: auto;
}
.logo{
    height:15%;
    width:auto;
}
h2{
    font-size: larger;
    text-align: center;
    
}
.button1{
    display: flex;
    justify-content: center;

}
.tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
