/* indexpage */
h1{
    text-align: center;
    color:black;
    font-size: 80px;
}
h2{
    text-align: center;
}
.names{
    text-align: center;
    font-size: 70px;
    display: flex;
    justify-content: space-around;
}
.rihan_bio, .anitha_bio, .athul_bio {
    height: 500px;
    width: 400px;
    padding: 60px 0;
    margin: 20px 0;
    /* border: 2px black solid; */
    font-size: 30px;
}
body{
    background-color:lightcyan;
    /* background-image : url("https://img95.lovepik.com/photo/40101/9731.gif_wh860.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
#Rihan{
    height: 8cm;
    width: 6cm;
    border-radius: 180px;
}
#Anitha{
    height: 8cm;
    width: 6cm;
    border-radius: 180px;
}
#Athul{
    height: 8cm;
    width: 6cm;
    border-radius: 180px;
}

/* Rihanpage */
.container{
    display: flex;
    gap: 70px;
}
.column{
    background-color: grey;
    height: 60vh;
    width:50vw;
    padding: 20px 20px 20px 20px;
}
#icon {
    width: 42px; 
    height: 42px;
    border: none; 
    cursor: pointer; 
    border-radius: 50%;
}
#brew {
    width: 42px; 
    height: 42px;
    border: none; 
    cursor: pointer;
    border-radius: 50%;

}

.container img {
    max-width: 100%;
    width: auto;
}

