  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      margin: 0;
      background: #fff;
    }

    .flag {
      width: 90vw;
      aspect-ratio: 3 / 2;
      position: relative;
      display: flex;
      flex-direction: column;
    }

    .stripe {
      flex: 1;
    }

    .green  { background: #009A44; }
    .yellow { background: #FEDD00; }
    .red    { background: #EF3340; }

    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45%;
      aspect-ratio: 1 / 1;
      background: #0033A0;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }


    @media (max-width: 480px) {
      .flag {
        width: 95vw;
      }

      .circle {
        width: 50%; 
      }
    }

    @media (max-width: 760px) {
      .flag {
        width: 85vw;
      }

      .circle {
        width: 48%;
      }
    }

    @media (max-width: 1200px) {
      .flag {
        width: 70vw;
      }

      .circle {
        width: 45%;
      }
    }
